---
layout: page
---
{{ content }}

{% if page.collection and page.collection.size > 0 %}
  {% assign collection = site[page.collection] %}
  {% if collection and collection.size > 0 %}
    {% assign grouped = collection | group_by_exp: "item", "item.categories.first" %}
    {% assign category_order = "data-science,business,technical,textbook,fiction" | split: "," %}

    {% for category_name in category_order %}
      {% assign category_group = grouped | where: "name", category_name | first %}
      {% if category_group %}
      <h1 id="{{ category_group.name | slugify }}">{{ category_group.name | capitalize | replace: "-", " " }}</h1>
      <ul class="book-list">
      {% for item in category_group.items %}
        <figure class="cover">
          <a class="cover-link" href="{{ item.url | relative_url }}">
            {% if item.cover %}
              <img alt="{{ item.title }} cover" src="{{ item.cover | prepend: page.covers | relative_url }}" style="height:200px">
            {% elsif item.olid %}
              <img alt="{{ item.title }} cover" src="https://covers.openlibrary.org/b/olid/{{ item.olid }}-L.jpg?default=false" style="height:200px">
            {% elsif item.isbn %}
              <img alt="{{ item.title }} cover" src="https://covers.openlibrary.org/b/isbn/{{ item.isbn }}-L.jpg?default=false" style="height:200px">
            {% endif %}
            <figcaption class="finished">{{ item.title | truncate: 30 }}</figcaption>
          </a>
        </figure>
      {% endfor %}
      </ul>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endif %}